body {
    font-family: 'Noto Serif Myanmar';font-size: 22px;
    background-color: rgb(126, 117, 117);
  }
  
#thank,h1{
    color: blue;
}

.class01,#thank,.error,h1{
    text-align: center;
}

.class01{
    color: rgb(235, 158, 135);
    font-size: 30px;
}

.color,#check{
    color: blue;
    font-size: 35px;
}

